# Application
APP_ENV=dev
DEBUG=true

# Database
DATABASE_URL=sqlite:///./serveme.db
# For PostgreSQL:
# DATABASE_URL=postgresql://user:password@localhost:5432/spotpass

# JWT
JWT_SECRET_KEY=xsaadt2NP93m4wnB8765TR5645yHYmfmc2TpCOGI5nxx
JWT_ALGORITHM=HS256
JWT_TOKEN_EXPIRE_DAYS=30

# Redis (optional)
REDIS_HOST=
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

# CORS
CORS_ORIGINS=["http://localhost:3000","http://127.0.0.1:3000"]

# Application
BASE_URL=http://localhost:3000
BRAND_NAME=serveme
SECRET_KEY=f3cfe9ed8fae309f02079dbf
